---
import Layout from "../layouts/Layout.astro";

const {
  pageContent: { data },
} = Astro.props;
---

<Layout headMetaData={data.headMetaData}>
  <div>
    <h1 class="font-titles text-5xl font-extrabold">
      {data.title}
    </h1>
    <p class="mt-4 font-subtitles font-bold">
      {data.subtitle}
    </p>
    <p class="text mt-4 font-paragraphs font-light">
      {data.paragraph}
    </p>
  </div>
</Layout>
