---
import { getRouteFromUrl } from "../i18n/utils";
import { languages } from "../i18n/ui";
import { Icon } from "astro-icon/components";
const url = Astro.url;
---

<div class="flex items-center justify-center lg:order-1">
  <a
    href={getRouteFromUrl("es", url)}
    class="flex items-center px-2 py-2 font-paragraphs font-medium uppercase text-white hover:text-yellow-500 active:text-yellow-500 lg:pe-2 lg:ps-4 lg:focus:text-yellow-500"
    ><Icon name="es" /><span
      class="font-all ml-1 inline-block text-xs font-semibold uppercase"
      >{languages["es"]}</span
    ></a
  >
  <!-- vertical line between languages -->
  <div class="inline-block h-4 w-px bg-white"></div>
  <a
    href={getRouteFromUrl("en", url)}
    class="flex items-center px-2 py-2 font-paragraphs font-medium uppercase text-white hover:text-yellow-500 active:text-yellow-500 lg:pe-4 lg:ps-2 lg:focus:text-yellow-500"
    ><Icon name="en" /><span
      class="font-all ml-1 inline-block text-xs font-semibold uppercase"
      >{languages["en"]}</span
    ></a
  >
</div>

<style lang="css">
  [astro-icon] {
    width: 1.3rem;
  }
</style>
