---
import {
  getLangFromUrl,
  useTranslations,
  getRoutes,
  navLinks,
} from "../i18n/utils";
import NavLink from "./NavLink.astro";
import LanguagePicker from "./LanguagePicker.astro";
const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
const path = getRoutes(lang);

const navData = navLinks(t, path);
---

<script>
  const dropDownMenu = document.querySelector(".dropdown-menu");
  const menuMediaQuery = window.matchMedia("(min-width: 1024px)");

  document.addEventListener("astro:page-load", () => {
    console.log("page loaded");
    const menuBlock = document.querySelector(".menu_block");
    const hamButton = document.querySelector(".ham_button");
    hamButton?.addEventListener("click", () => {
      if (window.getComputedStyle(menuBlock, "null").display === "none") {
        menuBlock.classList.remove("hidden");
        //menuBlock.classList.add("flex-col", "flex");
      } else {
        menuBlock?.classList.add("hidden");
      }
    });
  });
</script>

<header>
  <div class="bg-dark_cyan-500">
    <div
      class="container flex flex-wrap items-center justify-between mx-auto py-2"
    >
      <div
        class="flex-wrap font-paragraphs inline-flex px-4 py-1 space-x-1 text-yellow-500 md:space-x-4"
      >
        <a href="#" class="inline-flex items-center text-sm">
          <span class="md:mr-1">
            <svg viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5">
              <path
                d="M21 16.42v3.536a1 1 0 0 1-.93.998c-.437.03-.794.046-1.07.046-8.837 0-16-7.163-16-16 0-.276.015-.633.046-1.07A1 1 0 0 1 4.044 3H7.58a.5.5 0 0 1 .498.45c.023.23.044.413.064.552A13.901 13.901 0 0 0 9.35 8.003c.095.2.033.439-.147.567l-2.158 1.542a13.047 13.047 0 0 0 6.844 6.844l1.54-2.154a.462.462 0 0 1 .573-.149 13.901 13.901 0 0 0 4 1.205c.139.02.322.042.55.064a.5.5 0 0 1 .449.498z"
              >
              </path>
            </svg></span
          >
          <span class="hidden md:block">+0-123-456-789</span>
        </a>
        <a href="/" class="inline-flex items-center text-sm">
          <span class="md:mr-1">
            <svg viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5">
              <path
                d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm9.06 8.683L5.648 6.238 4.353 7.762l7.72 6.555 7.581-6.56-1.308-1.513-6.285 5.439z"
              >
              </path>
            </svg></span
          >
          <span class="hidden md:block">info@company.com</span>
        </a>
      </div>
    </div>
  </div>
  <div class="bg-background_cyan-500 w-full">
    <nav
      class="container flex flex-wrap items-center justify-between mx-auto px-4 py-6"
    >
      <a
        href="/"
        class="focus:text-yellow-500 lg:me-0 font-titles hover:text-yellow-500 text-2xl text-white uppercase"
        >Suplovers.co</a
      >
      <LanguagePicker />
      <button
        class="ham_button border border-solid border-yellow-500 hover:text-yellow-500 px-3 py-2 text-soft_yellow-500 lg:hidden"
        ><span class="block border-b-2 border-current my-1 w-6"></span>
        <span class="block border-b-2 border-current my-1 w-6"></span>
        <span class="block border-b-2 border-current my-1 w-6"></span>
      </button>

      <div
        class="menu_block lg:flex lg:space-x-4 lg:space-y-0 lg:w-auto space-y-2 w-full hidden lg:items-center"
        data-name="nav-menu"
      >
        <div
          class="flex flex-col font-medium font-paragraphs text-white lg:flex-row"
        >
          {navData.map((linkData) => <NavLink linkData={linkData} />)}
        </div>
      </div>
    </nav>
  </div>
</header>

<style>
  @media screen and (max-width: 386px) {
    .ham_button {
      margin-left: auto;
      @apply mt-1;
    }
  }
</style>
