---
const {
  linkData: { path, name },
} = Astro.props;
---

<a
  href={path}
  class="px-0 py-2 font-paragraphs uppercase hover:text-yellow-500 active:text-yellow-500 lg:px-3 lg:focus:text-yellow-500"
>
  {name}
</a>
<div class="p-4 pt-2"></div>
