---
import NavBar from "../components/NavBar.astro";

import "@fontsource-variable/raleway"; // Supports weights 100-900
import "@fontsource/roboto-condensed/700.css";
import "@fontsource/roboto-condensed/300.css";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="index, follow" />
    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <title>Document</title>
  </head>
  <body>
    <NavBar />
    <slot />
  </body>
</html>
