---
import { ViewTransitions } from "astro:transitions";

import NavBar from "../components/NavBar.astro";
import BaseHead from "../components/baseHead.astro";

import "@fontsource-variable/raleway"; // Supports weights 100-900
import "@fontsource/roboto-condensed/700.css";
import "@fontsource/roboto-condensed/300.css";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  headMetaData: { title, description, image = "/og-image.png" },
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      canonicalURL={canonicalURL}
      image={image}
    />

    <ViewTransitions />
  </head>
  <body>
    <NavBar />
    <slot />
  </body>
</html>
